<!-- toolbar.component.html -->
<!-- mat-toolbar ist von Angular-->
<mat-toolbar (click)="playAudioToolbar()" color="primary"  style="background-color: green; color: black;">
  <!--Back Button um auf die vorherige Seite zurückzukommen-->
  <button mat-icon-button (click)="goBack()" style="color: black;">
    <mat-icon style="font-weight: bold;">arrow_back</mat-icon>
  </button>

  <!-- div: Abschnitt zu erstellen, beginnt Standardgemäß eine neue Zeile-->
  <div class="center-text"> <!-- "center-Text" ist im scss datei enthalten und wird hier abgerufen-->
    <span style="font-weight: bold;">Das Land der Mathematik</span> <!-- span: Inline Element-->
  </div>
</mat-toolbar>

