<div class="sect1" style="background-image: url('/assets/hintergrund/scene_selector_zahlen.jpg');">

  <app-navbar></app-navbar>

<!-- Header section ends -->

<!-- Main content section starts -->
<div class="container my-homepage white-bg" id="home">

  <div class="row" >
    <div class="col">
      <h2 class="underlined-heading" >Willkommen auf meiner Webseite!</h2>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6" style="text-align: justify;">

      <p style="font-size: 18px;">
        Diese Plattform ist meiner Bachelorarbeit gewidmet, welche sich mit der Entwicklung eines mathematischen Kinderlernprogramms
        beschäftigt. In meiner Arbeit erkunde ich die Bedeutung von Mathematik im täglichen Leben und die Herausforderungen,
        mit denen Kinder oft konfrontiert sind, wenn es um mathematische Konzepte geht.
      </p>
      <p style="font-size: 18px;">
        Meine Motivation für dieses Projekt liegt darin, Kinder schon früh spielerisch an Zahlen heranzuführen.
        Das Ziel meines Programms ist es daher, Kindern im Vorschulalter eine unterhaltsame und interaktive Möglichkeit zu
        bieten, mathematische Konzepte zu erforschen und zu verstehen.
      </p>
      <p style="font-size: 18px;">
        Durch eine intuitive Benutzeroberfläche und akustische Gestaltung möchte ich sicherstellen, dass
        mein Programm für Kinder leicht zugänglich und ansprechend ist. Mir ist es sehr wichtig, für Kinder eine positive
        Lernerfahrung zu schaffen, die die Neugier der Kinder weckt und ihr Verständnis für Mathematik fördert.
      </p>
    </div>

    <div class="col-md-6">
      <img src="assets/bilder/StartScene.png" alt="Bildbeschreibung" class="img-fluid">
    </div>

    <div style="height: 50px;"></div>

<div class = "container-center" style="display: flex; justify-content: center;" >
  <div style="color: black; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); font-weight: bold; ">
    <h1>QR - Code zur Umfrage</h1>
    <img src="/assets/QRCodeUmfrage.png" alt="QRCode" >
  </div>
</div>


    <div style="height: 50px;"></div>


    <div class="row">
      <div class="col">
        <h2 class="underlined-heading" id="about">Verwendete Technologien</h2>
      </div>
    </div>
    <div class="row">
        <p style="font-size: 18px;">
          Die Entwicklung dieser Webseite wurde mithilfe führender Technologie realisiert:
        </p>
    </div>


    <div class="row">
      <div class="col-md-6 align-self-start">
        <p style="font-size: 18px;"><strong>Angular:</strong>
          Angular, ist ein leistungsstarkes Framework für die Entwicklung von Single-Page-Anwendungen.
          Es wurde für die Startseite und für die Seite mit der Szenenauswahl genommen. Weiteres bietet
          Angular eine reibungslose Navigation, durch die verschiedenen Seiten.
        </p>
      </div>
      <div class="col-md-6 d-flex align-items-start justify-content-center">
        <div class="image-container">
          <img src="assets/logos/Angular.png" class="img-fluid" alt="Angular Logo">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 align-self-start">
        <p style="font-size: 18px;" ><strong>Phaser:</strong>
          Für die Entwicklung des interaktiven Lernspiels wird das Phaser-Framework benutzt.
          Phaser ist ein leistungsstarkes Open-Source-Framework für die Entwicklung von HTML5-Spielen. Dadurch wurde
          für jede Szene (Zahlen, Mengen, Plus) eine eigene Phaser Szene benutzt.
        </p>
      </div>
      <div class="col-md-6 d-flex align-items-start justify-content-center">
        <div class="image-container">
          <img src="assets/logos/Phaser.png" class="img-fluid" alt="Phaser Logo">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 align-self-start">
        <p style="font-size: 18px;"><strong>Bootstrap:</strong>
          Das Design der Startseite und der Szeneauswahl basiert auf dem Bootstrap - Framework,
          dass es ermöglicht eine ansprechende und benutzerfreundliche Webseite zu gestalten.
          Bootstrap bietet eine Vielzahl von vorgefertigten UI - Komponenten und Layout - Optionen, die
          es erleichtern, eine konsistente Benutzeroberfläche zu entwickeln.
        </p>
      </div>
      <div class="col-md-6 d-flex align-items-start justify-content-center">
        <div class="image-container">
          <img src="assets/logos/Bootstrap.png" class="img-fluid" alt="Bootstrap Logo">
        </div>
      </div>
    </div>
</div>


  <div style="height: 50px;"></div>

  <footer class="footer ">
    <div class="container ">
      <div class="row green-background">
        <div class="col text-center">
          <p><strong>&copy; 2024 Claudia Unterköfler. Alle Rechte vorbehalten.</strong></p>
        </div>
      </div>
    </div>
  </footer>


</div>
</div>
<!-- Main content section ends -->





