
.my-homepage {
  padding-top: 20px; /* Füge hier den gewünschten Abstand ein */
}


.white-bg {
  background-color: #fff; /* Hintergrund auf Weiß setzen */
}

.list-with-margin li {
  margin-bottom: 20px;
}

.underlined-heading {
  border-bottom: 2px solid #333; /* Ändere hier die Farbe des Unterstrichs */

}

.sect1 {

  background-image: url("/assets/hintergrund/scene_selector_zahlen.jpg");
  background-size: 100%;

}

.img-fluid {

   height: auto;
 }

.image-container {
  max-height: 100%;
  display: flex;
  align-items: center;
}

.image-container img {

  height: 90px;
}
.green-background {
  background-color: green; /* Hintergrundfarbe grün */

}

