


.full-page-background {
  min-height: 100vh;
  background-image: url("/assets/hintergrund/scene_selector_zahlen.jpg");
  background-size: cover;
  background-position: center;
}

.card {
  margin: 20px; /* Abstand zwischen den Karten */
  width: 300px; /* Feste Breite für alle Karten */
  height: 400px; /* Feste Höhe für alle Karten */
  display: flex;
  flex-direction: column;
}


.card-img-top {
  width: 50%; /* Reduziert die Breite der Bilder auf 50% */
  height: 50%; /* Lässt die Höhe dynamisch an die Breite angepasst werden */

  justify-items: center;
  margin: 0 auto;
}

.list-group-item {
  height: 60px;
  flex-grow: 1; /* Lässt die mittleren Inhalte den verfügbaren Raum einnehmen */
  flex-shrink: 0;
}

.card-body {
  margin:0 auto;

  height: 10px; /* Setzt die Höhe des card-body auf auto */
}

.card-body .btn {
  flex-shrink: 0; /* Verhindert, dass der Button kleiner als seine Inhalte wird */
  height: auto;
  width:auto;
}

